

.site-title{
    font-size: 30px;
    margin-bottom: 24px;
    margin-top: 20px;
    width:15%
}

.page-icon{
    width: 55px;
    height: 55px;
    float:right;
    margin-right:82%;
    margin-bottom:2px
    
}

.container-fluid{
    background-color: brown;
    
}

#navbar{
    padding: 0px;
    border-radius: 5px;
    border: 2px solid rgb(85, 23, 23)
}

.nav-item a, .navbar-brand{
    color:white
}

.nav-item a:hover {
    border: 2px solid transparent;
    background:
        linear-gradient(lightgrey, lightgrey) padding-box,
        linear-gradient(to right, blue, violet,  pink, blue) border-box;

    background-size: 100% 100%, 200% 100%;
    animation: border-change 2.5s linear infinite;
}

@keyframes border-change {
    from {
        background-position: 0 0, 0% 0;
    }

    to {
        background-position: 0 0, 200% 0;
    }
}

.header h1{
    text-align:center;
    font-size:40px;
    margin-top: 10px

}

.header p{
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

hr{
    border: 3px solid brown;
}



.summary-table  th, td{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 50%
}

.summary-table tr{
    border: 1px solid brown
    
}

.summary-head{
    border: 3px solid brown;
    background-color: brown;
    color:white
}

h2{ 
    margin-bottom:0px;
    margin-top:30px;
    width:30%
}

.filter-btn{
    margin-left: 90%;
    padding-right: 20px;
    padding-left: 20px
}

.Manhua{
    border:1px solid brown;
    padding:1em

}

.Manhua .reavel-btn{
    width:20px;
    height:20px

}

.more-info li{
    display: inline-block;
    padding: 2px;
    margin: 5px;
}

.more-info{
    padding: 0px
}

.date{
    float:right;
    font-size: 12px
    
}

.Manhua h3{
    text-decoration: underline;

}

.by-line li{
    display: inline-block;
}

.by-line .author{
    text-decoration: underline;
}

.by-line{
    padding:0px
}

.tags li{
    display:inline-block;
    text-decoration-style:dotted;
    text-decoration-line:underline;
    margin: 2px;
    color:brown
}

.tags{
    padding:0px
}